body {
    background-image:url('images/bkg.jpeg');
    opacity: 0.9;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border-style: solid;
    border-color: #204040;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
   }
img{
    width: 280px;
    height: 340px;
    float: left;
}
#click{
    margin-left: 300px;
}
#txt{
    color: #CF1010;
}
div.sun{
    background-color:#FFC0C0;
    margin-left: 320px;
    margin-right: auto;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 10px;
}
div.game{
    background-color:#FFC0C0;
    margin-left: 320px;
    margin-right: auto;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
div.img_end {
    clear: both;
}
div.text{
    background-color:#C0FFFF;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

ol {
    font-size:15px;
    color:#C01010;
}